<!DOCTYPE html>
<html>
<head>
    <title>Add Detail Page</title>
</head>
<body>
    <table align="center">
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <tr>
                <td>Name</td>
                <td>:</td>
                <td>
                    <input type="text" name="name" placeholder="Enter Your Name" required>
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>:</td>
                <td>
                    <input type="email" name="email" placeholder="Enter Your Email" required>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>:</td>
                <td>
                    <input type="password" name="password" placeholder="Enter Password" required>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="3" align="center">
                    <input type="submit" value="Submit">
                </td>
            </tr>
        </form>
    </table>
    <h4 align="center">
        <a href="{% url 'display' %}">Display</a>
        <br>
        <a href="{% url 'search' %}">Search</a>
    </h4>
</body>
</html>